{% extends "blog/base.html" %}
{% block content %}
    <h1>Welcome Boggers!</h1>
    <p>
        

Happy to see you here. Thankyou for choosing this platform to post your blogs. I will continue to add more functionalities to the website. You can create, update, delete and read posts. 
<br>
This website is made for a learning proces. For my internship I had to learn Django and I am happy to create something.
<br>
You can mail me your suggestions at jyotik.cse17@nituk.ac.in 



    </p>
{% endblock content %}

